/* NAVBAR  */

.navbar{
    padding: 10px;
}

.nav-link{
    padding: 0;
    margin: auto;
}

.navbar a {
    text-decoration: none;
    color: var(--negro);
}
.nav-clasify-home{
    font-size: 30px;
}

.navbar li {
    list-style-type: none;
    width: auto;
}


.nav-item {
    padding: 10px;
}

.navbar {
    justify-content: space-between;
    background-color: rgb(129, 192, 194);

}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar .navbar-left a:hover, .nav-link:hover{
    color: rgb(255, 255, 255);
    transition: all .3s ease-in-out, color .3s ease-in-out;
}

.navbar-right button{
    font-weight: 600;
}

.navbar .navbar-left a {
    text-transform: uppercase;
}

.navbar .navbar-right a {
    border-radius: 28px;
}
  
.navbar .navbar-right{
    display: flex;
    width: 20%;
    justify-content: space-between;
}
.btn-login, .btn-signup{
    border-radius: 10px;
}

.navbar-right button:hover{
    background-color: #171b1d;
    color: whitesmoke;
    transition: all .3s ease-in-out, color .3s ease-in-out;
}
